html {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 62.5%;
  font-family: "Roboto Slab", serif;
}

body {
  margin: 0;
  height: 100vh;

}

.header {
  background-color: rgb(113, 132, 162);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}

.header h2 {
  text-align: center;
  font-size: 2rem;
  margin: 0;
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin: 40px auto;
  width: 25%;
  
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  
}
#submit-btn {
  padding: 0;
  font-size: 2rem;
  font-family: "Roboto Slab", serif;

}

.input-field {
  padding-left: 8px;
  font-family: "Roboto Slab", serif;

}
form input {
  box-sizing: border-box;
  font-size: 1.8rem;
  height: 36px;
  border-radius: 4px;
  outline: none;
  border: none;
  background-color: lightblue;
  margin: 4px 0;
}

p {
  color: red;
  font-size: 1.6rem;
  font-family: "Roboto Slab", serif;

}

.unorder-list-div {
  width: 100%;
  color: rgb(54, 70, 101);
}

ul li {
  font-size: 2.4rem;
  height: 40px;
  margin: 4px 0;
  position: relative;
  font-family: "Roboto Slab", serif;

}

.done {
  text-decoration: line-through;
  color: rgb(138, 134, 134);
}

button {
  position: absolute;
  right: 0;
  top: 8px;
  border: none;
  font-size: 1.6rem;
  background-color: transparent;
  font-family: "Roboto Slab", serif;
  color: red;


}
